build/
build-*/
out/
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.pdb
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
conan_toolchain.cmake
conan_*.cmake
CMakePresets.json
_deps/
.cache/
.vs/
.vscode/
var/
logs/
